<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DataAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DataAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DataAccess.Properties.Settings>
            <setting name="ImgurClientID" serializeAs="String">
                <value />
            </setting>
            <setting name="SupportedExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.jpg</string>
                        <string>.jpeg</string>
                        <string>.gif</string>
                        <string>.png</string>
                        <string>.bmp</string>
                        <string>.gif</string>
                        <string>.tif</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="FallbackDimensionWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FallbackDimensionHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DeviceId" serializeAs="String">
                <value />
            </setting>
        </DataAccess.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <DataAccess.Properties.Settings>
            <setting name="RedditUserAgent" serializeAs="String">
                <value>PC:ImageDownloader:v1.1.3 (by /u/Jameak)</value>
            </setting>
            <setting name="DeviantartUserAgent" serializeAs="String">
                <value>PC:ImageDownloader:v1.1.3 (github.com/jameak/ImageDownloader)</value>
            </setting>
            <setting name="RedditAppId" serializeAs="String">
                <value>J687G-r-0ZTQsg</value>
            </setting>
            <setting name="ImgurClientIDDefault" serializeAs="String">
                <value>0fed969f9f62557</value>
            </setting>
            <setting name="VersionNumber" serializeAs="String">
                <value>v1.1.3</value>
            </setting>
            <setting name="GitHubUserAgent" serializeAs="String">
                <value>ImageDownloader</value>
            </setting>
        </DataAccess.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
